/* global style */
h1{
    text-align: center;
}
li a{
    text-decoration: none;
}

/* nav first linkup */
nav ul{
    display: flex;
    justify-content: end;
}
nav ul>li:hover{
background-color:rgba(255, 182, 193, 0.228);
border: 0.3px solid ;
border-radius: 0.3em;
}
nav ul li{
    list-style: none;
    margin-left: 1em;
    font-weight:bolder;
    font-size: x-large;
}
/* nav nested linkup */

.dropdown{
    display: none;
    position: absolute;
}
nav ul>li:hover ul{
    display:block;
    border: none;
margin-left: -2.7em;
}
